@page
@model WorkflowBenchmark
@{
    ViewData["Title"] = "Microsoft Rules Engine Benchmark Page";
}
@using RulesEngineEditor.Pages
@using Newtonsoft.Json

<h1>@ViewData["Title"]</h1>

<form method="post" id="mainForm">
    
    <div>
        <label for="BenchmarksDropdownSelectedGuid">Select Benchmark Test Suite:</label>
        <select id="defaultInputs" name="BenchmarksDropdownSelectedGuid" onchange="this.form.submit()">
            @foreach (var benchmarkProduct in Model.BenchmarksDropdownElements)
            {
                if(Model.BenchmarksDropdownSelectedGuid == benchmarkProduct.BenchmarkId)
                {
                    <option value="@benchmarkProduct.BenchmarkId" selected>@benchmarkProduct.BenchmarkTestDisplayText</option>
                }else
                {
                    <option value="@benchmarkProduct.BenchmarkId">@benchmarkProduct.BenchmarkTestDisplayText</option>
                }
            }
        </select>
    </div>

    <button type="submit">Submit</button>

</form>

<div>
    @if (Model.Output != null)
{
    <h2>Benchmark Test Results:</h2>
    @if (Model.Output != null && !Model.Output.isError && !string.IsNullOrEmpty(Model.Output.OutputText))
    {
    <p>Message: @Html.Raw(Model.Output.OutputText)</p>
    }else if(Model.Output != null)
    {
    <p>Erro Message: @Html.Raw(Model.Output.ErrorMessage)</p>
    }   
}
</div>



@if(Model.BenchmarkDataPoints != null && Model.BenchmarkDataPoints.Count > 0)
{
    <h2>Benchmark Test Results Chart:</h2>

    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line', // Change this to the type of chart you want
            data: {
                labels: @Html.Raw(Json.Serialize(Model.BenchmarkDataPoints.Select(p => p.WorkDone))),
                datasets: [{
                    label: 'My Dataset',
                    data: @Html.Raw(Json.Serialize(Model.BenchmarkDataPoints.Select(p => p.ElapsedMilliseconds))),
                    // Add more options here
                }]
            },
            options: {
                // Add chart options here
            }
        });
    </script>
}