@page
@model WorkflowTesting
@{
    ViewData["Title"] = "Microsoft Rules Engine Testing Page";
}
@using RulesEngineEditor.Pages
@using Newtonsoft.Json

<h1>@ViewData["Title"]</h1>

<form method="post" id="mainForm">
    
    <div>
        <label for="InputsDropdownSelectedGuid">Select Case to test:</label>
        <select id="defaultInputs" name="InputsDropdownSelectedGuid" onchange="this.form.submit()">
            @foreach (var inputProduct in Model.InputsDropdownElements)
            {
                if(Model.InputsDropdownSelectedGuid == inputProduct.InputId)
                {
                    <option value="@inputProduct.InputId" selected>@inputProduct.InputDisplayText</option>
                }else
                {
                    <option value="@inputProduct.InputId">@inputProduct.InputDisplayText</option>
                }
            }
        </select>
    </div>

    <button type="submit">Submit</button>

    @if(Model.InputsDropdownSelected != null)
    {
    <div>
        <h2>Input Items:</h2>
        <textarea id="inputItemsJson" name="inputItemsJson" rows="5" cols="200">
            @JsonConvert.SerializeObject(Model.InputsDropdownSelected.CatalogItems)
        </textarea>
        <h2>Input Users:</h2>
        <textarea id="inputUsersJson" name="inputUsersJson" rows="5" cols="200">
            @JsonConvert.SerializeObject(Model.InputsDropdownSelected.UsersInfo)
        </textarea>
        
        <h2>Discount Codes:</h2>
        <textarea id="inputDiscountCodesJson" name="inputDiscountCodesJson" rows="2" cols="200">
            @JsonConvert.SerializeObject(Model.InputsDropdownSelected.DiscountCodes)
        </textarea>

        <h2>Input Rules:</h2>
        <textarea id="inputRulesJson" name="inputRulesJson" rows="5" cols="200">
            @JsonConvert.SerializeObject(Model.InputsDropdownSelected.Rules)
        </textarea>
        
    </div>
    }
</form>

@if (Model.Output != null)
{
    <h2>Output:</h2>
    @if (Model.Output != null && !Model.Output.isError && !string.IsNullOrEmpty(Model.Output.OutputText))
    {
    <p>Message: @Html.Raw(Model.Output.OutputText)</p>
    }else if(Model.Output != null)
    {
    <p>Erro Message: @Html.Raw(Model.Output.ErrorMessage)</p>
    }
}